name: binding
version: 0.0.1
author: JLeenk jleenker@gmail.com
environment:
  sdk: ^1.12.2
dependencies:
  polymer: ^1.0.0-rc.4
  polymer_elements: ^1.0.0-rc.2
  web_components: ^0.12.0+3
  reflectable: ^0.3.3
  browser: ^0.10.0
transformers:
- web_components:
    entry_points:
      - web/test_index.html
- reflectable:
    entry_points:
      - web/test_index.dart
- $dart2js:
    $include: '**/*.bootstrap.initialize.dart'
    minify: true
    commandLineOptions:
    - --trust-type-annotations
    - --trust-primitives